#registration
  %h2 Sign Up
  = link_to('Sign Up', new_user_registration_path, :class => 'button')
#recipients
  %h2 Sign Up
  = link_to('Sign Up', new_organization_path(:org_type => 'recipient'), :class => 'button')
